/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
html{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgrey;
  }
  
  .main-header{
    padding: 15px 15px;
    background-color: white;
  }

  .main-title{
    display: inline;
    font-size: 40px;
    vertical-align: top;
  }

  .container{
    max-width: 900px;
    margin: 35px auto;
    background-color: white;
  }

  .little-header{
    border-bottom: 1px solid lightgrey;
    padding: 15px;
  }

  .big-section {
    padding: 25px;
  }

  .task{
    border-radius: 5px;
    background-color: rgb(31, 163, 245);
    padding: 5px;
    margin-left: 30px;
    font-size: 15px;
    color: white;
  }

  .section{
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 5px;
    font-size: 15px;
    color: lightgrey;
    display: inline-block;
  }

  .label{
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    font-size: 10px;
    color: white;
    vertical-align: middle;
  }

  .content-sect{
    padding: 15px;
  }

  .blue{
    background-color: rgb(31, 163, 245);
  }

  .violet{
    background-color: rgb(99, 9, 86);
  }

  .green{
    background-color: rgb(19, 180, 27);
  }

  .orange{
    background-color: rgb(201, 83, 25);
  }

  .pink{
    background-color: rgb(245, 0, 155);
  }